SECRET_KEY = 'HASH'
SECURITY_TRACKABLE = True
SQLALCHEMY_DATABASE_URI = 'mysql+pymysql://user:pass@server/db'
SECURITY_PASSWORD_HASH = 'pbkdf2_sha512'
SECURITY_PASSWORD_SALT = 'SOMEHASH'
WTF_CSRF_ENABLED = False
SECURITY_TOKEN_MAX_AGE = 600